<h2 mat-dialog-title>
  @if (dialogData) { Location details } @else { Create new location }
</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field
      class="small"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>Name</mat-label>
      <input matInput placeholder="Input name" formControlName="name" />
      @if (form.name.hasError('required')) {
        <mat-error>You must enter a value</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      class="small"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>City</mat-label>
      <input matInput placeholder="Input city" formControlName="city" />
      
      @if (form.city.hasError('required')) {
        <mat-error>You must enter a value</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      class="small"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>State</mat-label>
      <mat-select formControlName="state">
        @for (item of LOCATION_STATE; track $index) {
        <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>
        }
      </mat-select>

      @if (form.state.hasError('required')) {
        <mat-error>You must enter a value</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      class="small"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>Available Units</mat-label>
      <input
        type="text"
        mask="0*"
        placeholder="Input available units"
        matInput
        [validation]="false"
        formControlName="availableUnits"
      />

      @if (form.availableUnits.hasError('required')) {
        <mat-error>You must enter a value</mat-error>
      }
    </mat-form-field>

    <div class="flex gap-5">
      <div>
        Wifi:
        <mat-checkbox color="primary" formControlName="wifi"></mat-checkbox>
      </div>

      <div>
        Laundry:
        <mat-checkbox color="primary" formControlName="laundry"></mat-checkbox>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="submitForm()">
    @if (dialogData) { Update } @else { Create }
  </button>
</mat-dialog-actions>
