:host {
  .page-header {
    @apply flex items-center font-light px-8;
    min-height: 80px;
    background-color: var(--primary);
    color: var(--white);

    span {
      @apply text-2xl;
    }

    button {
      font-weight: 500;
    }
  }
}