:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  sc-header {
    min-height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .main-content {
    margin-top: 56px;
    flex: 1;
    overflow: auto;
  }
}
