:host {
  display: flex;
  background-color: var(--white) !important;
  border-radius: 4px;
  padding-right: 10px;

  .snackbar-title {
    color: black;
    font-size: 18px;
    font-weight: 500;
  }

  &.success {
    .snackbar-title {
      color: var(--green-400);
    }
  }

  &.error {
    .snackbar-title {
      color: var(--red-400);
    }
  }
}